<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to my first website with Django</h1>
<form action="/page1",method = 'get'>
    <textarea name = 'Text' style="width: 1495px; height: 151px;"></textarea>
    <input type="checkbox" name="check1">Checkbox<br>
    <input type="checkbox" name="check2">Capitalize<br>
    <input type="checkbox" name="check3">rmvnewline<br>
    <input type="checkbox" name="check4">charcount<br>
    <button type = 'Submit'>Submit Text</button>
</form>
</body>
</html>